


<div class="header">
  <h1>Perfil de Usuario</h1>
</div>

<div class="perfil">
  <div class="container">
    <table mat-table class="mat-elevation-z8">
      <tr>
        <ng-container matColumnDef="identificacion">

          <td mat-cell>Identificación</td>
          <td>123456789</td>

        </ng-container>
      </tr>


      <tr>
        <ng-container matColumnDef="nombre">

          <td mat-cell>Nombre</td>
          <td>Santiago</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="email">

          <td mat-cell>Email</td>
          <td>Santiago@gmail.com</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="fecha">

          <td mat-cell>Fecha de nacimiento</td>
          <td>20/12/1980</td>


        </ng-container>
      </tr>




      <tr>
        <ng-container matColumnDef="celular">

          <td mat-cell>Celular</td>
          <td>1023445678</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="dinero">

          <td mat-cell>Dinero</td>
          <td>$2000</td>

        </ng-container>
      </tr>



    </table>
  </div>
</div>
