.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 5vh;
  width: 40%;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  margin: auto;
  width: 100%;
}

mat-spinner {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}
