<div class="main-div">
  <mat-card>
    <mat-spinner color = "accent" *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field color = "accent">
        <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Por favor ingrese un correo válido.</mat-error>
      </mat-form-field>
      <mat-form-field color = "accent">
        <input type="password" name="password" ngModel matInput placeholder="Contraseña" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Por favor ingrese una contraseña válida.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Iniciar sesión</button>
    </form>
  </mat-card>
</div>
