<div class="main-div">
  <mat-card>
    <mat-card-content>
      <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
      <form (submit)="onCreate(sportForm)" *ngIf="!isLoading" [formGroup]="sportForm">
        <mat-card-title>Crear Partido Nuevo</mat-card-title>

        <mat-form-field color="accent">
          <mat-label>Nombre del equipo local</mat-label>
          <input type="text" matInput name="homeTeam" formControlName="homeTeam" required>
          <mat-error *ngIf="sportForm.get('homeTeam').invalid">Ingrese un nombre válido</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Nombre del equipo visitante</mat-label>
          <input type="text" matInput name="awayTeam" formControlName="awayTeam" required>
          <mat-error *ngIf="sportForm.get('awayTeam').invalid">Ingrese un nombre válido</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Fecha del partido</mat-label>
          <input matInput [min]="minDate" name="matchDate" formControlName="matchDate" [matDatepicker]="picker"
            placeholder="Fecha de cierre" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="sportForm.get('matchDate').invalid">Por favor ingrese una fecha válida.</mat-error>
        </mat-form-field>
        <!--
        <div class="score">
          <mat-form-field color="accent">
            <mat-label>Marcador local</mat-label>
            <input type="number" matInput name="homeScore" min="0" max="45" formControlName="homeScore" required>
            <mat-error *ngIf="form.get('homeScore').invalid">Ingrese un valor válido</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Marcador visitante</mat-label>
            <input type="number" matInput  name="awayScore" min="0" max="45" formControlName="awayScore" required>
            <mat-error *ngIf="form.get('awayScore').invalid">Ingrese un valor válido</mat-error>
          </mat-form-field>
        </div>
        -->
        <div class="create" *ngIf="mode=='create' && !isLoading">
          <a mat-raised-button color="warn" routerLink="/bets/list">CANCELAR</a>
          <button mat-raised-button color="accent" type="submit" [disabled]="sportForm.invalid">CREAR</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
