<form #usuarioForm="ngForm" [formGroup]="formularioCreado">

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Perfil</h4>
            </div>
            <div class="card-body">
              <!-- CORREO -->
              <div class="form-group">
                <label>Correo</label>
                <input type="email" class="form-control" formControlName="correo" [(ngModel)]="usuario.email">

                <div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
                  <div *ngIf="formularioCreado.controls['correo'].errors.required" class="alert alert-danger"
                    role="alert">
                    El correo es requerido
                  </div>

                  <div *ngIf="formularioCreado.controls['correo'].errors.email" class="alert alert-danger" role="alert">
                    Formato incorrecto
                  </div>
                </div>
              </div>

              <!-- CELULAR -->
              <div class="form-group">
                <label>Número de celular</label>
                <input type="number" class="form-control" formControlName="celular" [(ngModel)]="usuario.celular">

                <div *ngIf="formularioCreado.controls['celular'].invalid && formularioCreado.controls['celular'].dirty"
                  class="alert alert-danger" role="alert">
                  El número de celular es requerido
                </div>
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" formControlName="password"  [(ngModel)]="usuario.password">

                <div
                  *ngIf="formularioCreado.controls['password'].invalid && formularioCreado.controls['password'].dirty">
                  <div *ngIf="formularioCreado.controls['password'].errors.required" class="alert alert-danger"
                    role="alert">
                    La conraseña es requerida
                  </div>

                  <div *ngIf="formularioCreado.controls['password'].errors.minlength" class="alert alert-danger"
                    role="alert">
                    La contraseña debe tener más de 8 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="actions" >
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <button type="submit">  Guardar Cambios
          </button>
        </div>


      </div>
    </div>
  </section>



</form>
