<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading">
  <div class="add-wrapper">
    <a mat-raised-button *ngIf="isAdmin" color="accent" routerLink="/bets/create-sport" class="create">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-raised-button *ngIf="isAdmin" color="edit" routerLink="/admin/fillScoreboards" class="create">
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-raised-button *ngIf="!isAdmin && chosenMatches.length>0" color="accent" class="bet-button"
      [disabled]="chosenMatches.length<5" (click)="onBet()">
      APOSTAR ({{chosenMatches.length}})
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- id [hidden] Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <!-- homeTeam Column -->
    <ng-container matColumnDef="homeTeam">
      <th mat-header-cell *matHeaderCellDef>Equipo local</th>
      <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
    </ng-container>

    <!-- awayTeam Column -->
    <ng-container matColumnDef="awayTeam">
      <th mat-header-cell *matHeaderCellDef>Equipo visitante</th>
      <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
    </ng-container>

    <!-- scoreBoard Column -->
    <ng-container matColumnDef="finalScoreBoard">
      <th mat-header-cell *matHeaderCellDef>Marcador</th>
      <td mat-cell *matCellDef="let element"> {{element.finalScoreBoard ? element.finalScoreBoard : 'No disponible'}}
      </td>
    </ng-container>

    <!-- matchDate Column -->
    <ng-container matColumnDef="matchDate">
      <th mat-header-cell *matHeaderCellDef>Fecha del Juego</th>
      <td mat-cell *matCellDef="let element"> {{ element.matchDate.getDate() + "/" +
        element.matchDate.getMonth() + "/" + element.matchDate.getFullYear() }} </td>
    </ng-container>

    <!-- open Column -->
    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.open ? 'Abierto' : 'Cerrado'}} </td>
    </ng-container>

    <ng-container *ngIf="isAdmin" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef></td>
    </ng-container>
    <ng-container *ngIf="!isAdmin" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Apostar
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="!row.open" (click)="$event.stopPropagation()"
          (change)="$event ? onSelect(row, selection) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
