
.mat-raised-button {
  margin-left: 5px;
}

.mat-table {
  width: 80%;
  margin: auto;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.bet-button {
  width: 100%;
}

.non-bet-button {
  width: 100%;
}


.create {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.container .add-wrapper {
  padding: 10px;
  margin: auto;
  width: 80%;
}

.mat-column-select {
  overflow: initial;
}
