ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 6px;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  margin: 10px 0 0 10px;
}

.currentBalance {
  margin-right: 10px;
}
