.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 5vh;
  width: 40%;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin: 0 5px 10px 5px;
}

mat-spinner {
  margin: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.edit {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.edit .mat-raised-button {
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}

.create {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.create .mat-raised-button {
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}
