


<div class="header">
  <h1>Perfil de Usuario</h1>
  <a [routerLink]="['/editar-perfil/id']" class="button fancy-button login"><i class="material-icons">edit</i>Editar perfil</a>
</div>

<div class="perfil">
  <div class="container">
    <table mat-table class="mat-elevation-z8">
      <tr>
        <ng-container matColumnDef="identificacion">

          <td mat-cell>Identificación</td>
          <td>{{usuario.id}}</td>

        </ng-container>
      </tr>


      <tr>
        <ng-container matColumnDef="nombre">

          <td mat-cell>Nombre</td>
          <td>{{usuario.nombre}}</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="email">

          <td mat-cell>Email</td>
          <td>{{usuario.email}}</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="fecha">

          <td mat-cell>Fecha de nacimiento</td>
          <td>{{usuario.fecha_de_nacimiento}}</td>


        </ng-container>
      </tr>




      <tr>
        <ng-container matColumnDef="celular">

          <td mat-cell>Celular</td>
          <td>{{usuario.celular}}</td>

        </ng-container>
      </tr>



      <tr>
        <ng-container matColumnDef="dinero">

          <td mat-cell>Dinero</td>
          <td>${{usuario.dinero_disponible}}</td>

        </ng-container>
      </tr>



    </table>
  </div>
</div>
