.main-div {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

a {
  margin-top: -100px;
  margin-right: 2rem;
  width: 30%;
  height: 50%;
  text-decoration: none;
}
