<div class="main-div">
  <a routerLink="/bets/list">
    <mat-card appMaterialElevation>
      <mat-card-header>
        <mat-card-title>Apuestas deportivas</mat-card-title>
        <mat-card-subtitle>¡Predice el ganador!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/deportiva.jpg">
    </mat-card>
  </a>
  <a routerLink="/bets/list">
    <mat-card appMaterialElevation>
      <mat-card-header>
        <mat-card-title>Apuestas tipo lotería</mat-card-title>
        <mat-card-subtitle>¡Prueba tu suerte!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/loteria.jpg">
    </mat-card>
  </a>
</div>
