.main-div {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.footer {
  height: 200px;
}

mat-toolbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  margin: auto;
  width: 60vw;
}

label {
  font-weight: bold;
}

.row {
  display: flex;
}

label {
  padding-right: 1rem;
}

.id, .birthdate {
  text-align: justify;
  margin-left: auto;
}

.expansion-content {
  display: flex;
}

.expansion-user-info {
  width: 80vw;
}

.expansion-buttons {
  margin: auto;
  width: 20vw;
}

.delete-button {
  margin-left: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

