<div class="main-div">
  <mat-toolbar>
      Verificación de usuarios
  </mat-toolbar>
  <mat-spinner *ngIf="isLoading" color = "accent"></mat-spinner>
  <mat-accordion *ngIf="!isLoading">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.email }}
        </mat-panel-title>
        <mat-panel-description>
          {{ user.name }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <hr>
      <div class="expansion-content">
        <div class="expansion-user-info">
          <h3>{{ user.email }}</h3>
          <table>
            <tr>
              <td>
                <label>Nombre: </label>
                {{ user.name }}
              </td>
              <td>
                <label>ID: </label>
                {{ user.id }}
              </td>
            </tr>
            <tr>
              <td>
                <label>Celular: </label>
                {{ user.phone }}
              </td>
              <td>
                <label>Fecha de nacimiento: </label>
                {{ user.birthdate }}
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Balance</mat-label>
                  <input matInput [(ngModel)]="newBalance" type="number" class="balance" placeholder="0" #balanceInput="ngModel" min="0" oninput="validity.valid||(value='');" required>
                  <mat-error *ngIf="balanceInput.invalid">Por favor ingrese un valor válido.</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div class="expansion-buttons">
          <button mat-raised-button (click)="onAuthorize(user.id)" [disabled]="balanceInput.pristine || balanceInput.invalid" class="accept-button" color="accent">VERIFICAR</button>
          <button mat-raised-button (click)="onDeauthorize(user.id)" class="delete-button" color="warn">RECHAZAR</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="footer">
  <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="users.length > 0"></mat-paginator>

</div>
  <p class="info-text mat-body-1" *ngIf="users.length <= 0 && !isLoading">No hay usuarios por autorizar</p>

